{% extends 'base.html.twig' %}

{% block title %}Titre{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>TechShop</h1>
    <p>Bienvennue dans notre boutique</p>
{% endblock %}
